

.classpath
.gradle/*

*.bin

.gradle/4.8/fileContent/annotation-processors.bin

*.bin

.gradle/4.8/fileContent/annotation-processors.bin

.gradle/4.3/fileHashes/fileHashes.lock

.gradle/4.8/fileHashes/fileHashes.bin

target/classes/

*.html

*.xml

*.class

*.bin

*.bin

*.class
